.button {
  background-color: $blue;
  display: inline-block;
  text-decoration: none;
  padding: $s-size;
  color: #ffffff;
  border: none;
  font-size: $text-lg;
  font-weight: 300;
  line-height: 1;
  border-radius: 3px;
}

.button--link {
  background: none;
}

.button--secondary {
  background: $secondary;
}

.button--danger {
  background: $red;
}