.page-header {
  background: $off-white;
  padding: $l-size 0;
  margin-bottom: $l-size;
}

.page-header__title {
  font-size: 2.6rem;
  margin: 0;
  font-weight: 300;
  span {
    font-weight: 700;
  }
}
.page-header__body {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__actions {
  margin-top: $m-size;
}
